.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .grid-item {
    border: 1px solid rgba(255, 255, 255, 0.8);
  }

body{
  font-family: 'Archivo', sans-serif;
}
/*Logo */
  .item1 {
    grid-column: 2 / span 1;
    grid-row: 1;
  }
/*Menubalk */
  .item2 {
    grid-column: 2 / span 3;
    grid-row: 2;
    background-color: #222931;
    padding: 20px;
    width: 950px;

  }
/*Header */
  .item3 {
    grid-column: 1 / span 5;
    grid-row: 3;
  }
/*Foto 1 */
  .item4 {
    grid-column: 2 / span 1;
    grid-row: 4;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
/* Foto 2 */
  .item5 {
    grid-column: 3 / span 1;
    grid-row: 4;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
/*Foto 3 */
  .item6 {
    grid-column: 4 / span 1;
    grid-row: 4;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
  }

/*ribbon*/
  .item7 {
    grid-column: 1 / span 5;
    grid-row: 5;
    background-color: #ffe718;
    height: 100px;
    margin-bottom: 50px;
  }

/*text ribbon*/
  .item8{
    grid-column: 2 / span 5;
    grid-row: 5;
    border: 0px;
    font-size: 34px;
    font-weight: 700;
  }
/*text ribbon*/
  .item9{
    grid-column: 3 / span 5;
    grid-row: 5;
    border: 0px;
    padding: 34px;
    font-size: 16px;
    font-weight: 700;
  }
/*footer*/
  .item10 {
    grid-column: 1 / span 5;
    grid-row: 6;

  }
/*titels in footer*/
  .titel{
    color: black;
    text-align: center;
  }
/*footer*/
  .item11 {
    grid-column: 2 / span 1;
    grid-row: 7;
    background-color: #ffe718;
    height: 50px;
    margin-left: 20px;
    padding: 20px;
  }
  .item12 {
    grid-column: 3 / span 1;
    grid-row: 7;
    background-color: #ffe718;
    height: 50px;
    margin-left: 20px;
    padding: 20px;

  }
  .item13 {
    grid-column: 4 / span 1;
    grid-row: 7;
    background-color: #ffe718;
    height: 50px;
    margin-left: 20px;
    padding: 20px;

  }

/*text "Over ons"*/
  .item14 {
    grid-column: 2 / span 2;
    grid-row: 8;
    padding: 10px;
  }
  /*breadcrumb*/
  .item15 {
    grid-column: 1 / span 5;
    grid-row: 9;
    padding: 10px;
    background-color: #222931;
  }
  /*text breadcrumb*/
  .item16{
    grid-column: 4 / span 1;
    grid-row: 9;
    text-align: right;
    color: white;
    border: 0px;
    font-size: 12px;
    font-weight: 400;
  }
  /* text "contact"*/
  .item17 {
    grid-column: 4 / span 1;
    grid-row: 8;
  }

  i.fas,
  i.far {
    font-size: 50px;
    color: black;  
}