.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .grid-item {
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
/*Logo */
  .item1 {
    grid-column: 2 / span 1;
    grid-row: 1;
  }
/*Menubalk */
  .item2 {
    grid-column: 2 / span 3;
    grid-row: 2;
    background-color: #222931;
    padding: 20px;

  }
/*Header */
  .item3 {
    grid-column: 1 / span 5;
    grid-row: 3;
  }
/*Foto 1 */
  .item4 {
    grid-column: 2 / span 1;
    grid-row: 4;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
/* Foto 2 */
  .item5 {
    grid-column: 3 / span 1;
    grid-row: 4;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
/*Foto 3 */
  .item6 {
    grid-column: 4 / span 1;
    grid-row: 4;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
  }


  .item7 {
    grid-column: 1 / span 5;
    grid-row: 5;
    background-color: #ffe718;
    height: 100px;
    margin-bottom: 50px;
  }

  .item16{
    grid-column: 2 / span 5;
    grid-row: 5;
    border: 0px;
    font-size: 34px;
    font-weight: 700;
  }

  .item17{
    grid-column: 3 / span 5;
    grid-row: 5;
    border: 0px;
    padding: 34px;
    font-size: 16px;
    font-weight: 700;
  }

  .item8 {
    grid-column: 1 / span 5;
    grid-row: 6;

  }

  .titel{
    color: white;
    text-align: center;
  }

  .item9 {
    grid-column: 2 / span 1;
    grid-row: 7;
    background-color: #ffe718;
    height: 50px;
    margin-left: 20px;
    padding: 20px;
  }
  .item10 {
    grid-column: 3 / span 1;
    grid-row: 7;
    background-color: #ffe718;
    height: 50px;
    margin-left: 20px;
    padding: 20px;

  }
  .item11 {
    grid-column: 4 / span 1;
    grid-row: 7;
    background-color: #ffe718;
    height: 50px;
    margin-left: 20px;
    padding: 20px;

  }


  .item12 {
    grid-column: 2 / span 2;
    grid-row: 8;
  }
  .item13 {
    grid-column: 1 / span 5;
    grid-row: 9;
    background-color: #222931;
  }
  .item14{
    grid-column: 4 / span 1;
    grid-row: 9;
    text-align: right;
    color: white;
    border: 0px;
  }

  .item15 {
    grid-column: 4 / span 1;
    grid-row: 8;
  }