.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  

body{
  font-family: 'Archivo', sans-serif;
}
/*Logo */
  .item1 {
    grid-column: 2 / span 1;
    grid-row: 1;
  }
/*Menubalk */
  .item2 {
    grid-column: 2 / span 3;
    grid-row: 2;
    background-color: #222931;
    width: 950px;
    z-index: 2;

  }.navbar {
    overflow: hidden;
    background-color: #222931
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ffe718;
    color: black;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ffe718;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/*Header */
  .item3 {
    grid-column: 1 / span 5;
    grid-row: 3;
    z-index: 1;
    margin-top: -20px;
  }

  .container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #222931;
  }
  
  .container:hover .overlay {
    opacity: 0.8;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
/*Foto 1 */
  .item4 {
    grid-column: 2 / span 1;
    grid-row: 4;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
/* Foto 2 */
  .item5 {
    grid-column: 3 / span 1;
    grid-row: 4;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
/*Foto 3 */
  .item6 {
    grid-column: 4 / span 1;
    grid-row: 4;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
  }

/*ribbon*/
  .item7 {
    grid-column: 1 / span 5;
    grid-row: 5;
    background-color: #ffe718;
    height: 100px;
    margin-bottom: 50px;
  }

/*text ribbon*/
  .item8{
    grid-column: 2 / span 5;
    grid-row: 5;
    border: 0px;
    font-size: 34px;
    font-weight: 700;
    color: #222931;
  }
/*text ribbon*/
  .item9{
    grid-column: 3 / span 5;
    grid-row: 5;
    border: 0px;
    padding: 34px;
    font-size: 16px;
    font-weight: 700;
    color: #222931;
    margin-left: 40px;
  }
  /*button*/
.item18{
  grid-column: 4 / span 5;
  grid-row: 5;
  padding: 30px 120px;
}
button{
  background-color: white;
  padding: 10px 24px;
  border: 0px;
  cursor: pointer;
}
button:hover {
  background-color: #222931;
  color: white;
}
/*footer*/
  .item10 {
    grid-column: 1 / span 5;
    grid-row: 6;

  }
  .container:hover .item11 {
    background-color: #222931;
    color: white;
  }
/*titels in footer*/
  .titel{
    color: #222931;
    margin-top: -60px;
    margin-left: 80px;
    font-size: 22px;
    font-weight: 600;
  }
  .item12:hover{
    color:white;
    background: black;
  }
  .container:hover .titel{
    color: white;
  }
  .container:hover .textfooter2{
    color: white;
  }
  .container:hover .fas{
    color: white;
  }
  .textfooter1{
    margin-top: -20px;
    margin-left: 80px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
  .textfooter2{
    margin-left: 80px;
    margin-top: -20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
  .textfooter3{
    margin-left: 80px;
    margin-top: -20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
/*footer*/
  .item11 {
    grid-column: 2 / span 1;
    grid-row: 7;
    background-color: #ffe718;
    height: 50px;
    margin-left: 20px;
    padding: 20px;
    margin-top: -50px;
  }
  
  .item12 {
    grid-column: 3 / span 1;
    grid-row: 7;
    background-color: #ffe718;
    height: 50px;
    margin-left: 20px;
    padding: 20px;
    margin-top: -50px;
  }
  .item13 {
    grid-column: 4 / span 1;
    grid-row: 7;
    background-color: #ffe718;
    height: 50px;
    margin-left: 20px;
    padding: 20px;
    margin-top: -50px;
  }
  /*pagebreak*/
  .item19{
    grid-column: 1 / span 5;
    grid-row: 9;
    padding: 25px;
  }

/*text "Over ons"*/
  .item14 {
    grid-column: 2 / span 2;
    grid-row: 9;
    padding: 50px;
  }
  /*footer*/
  .item15 {
    grid-column: 1 / span 5;
    grid-row: 10;
    padding: 10px;
    background-color: #222931;
  }
  /*text footer*/
  .item16{
    grid-column: 4 / span 1;
    grid-row: 10;
    text-align: right;
    color: white;
    border: 0px;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    padding: 20px;
  }
  /* text "contact"*/
  .item17 {
    grid-column: 4 / span 1;
    grid-row: 9;
    padding: 50px;
  }
/*breadcrumb*/
  ul.breadcrumb li {
    display: inline;
    font-size: 12px;
    font-weight: 400;
    color: #aeb6be;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  
  ul.breadcrumb li a:hover {
    color: black;
    text-decoration: underline;
  }
  /*text "diensten"*/
  .item20{
    grid-column: 2 / span 3;
    grid-row: 4;
    padding: 20px;
  }
  .hovertext {
    background-color: #aeb6be;
    padding: 10px;
    display: none;
    color: white;
  }
    
  .hoverword:hover + div {
    display: inline-block;
    width: 200px;
    position: absolute;
  }
  .hoverword{
    color: #ffe718;
  }
